.calc-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		"AC AC prcnt div"
		"n7 n8 n9 mult"
		"n4 n5 n6 minus"
		"n1 n2 n3 plus"
		"n0 n0 dot equalSign";
	height: 300px;
	width: 330px;
}

.AC {
	grid-area: AC;
}
.n1 {
	grid-area: n1;
}
.n2 {
	grid-area: n2;
}
.n3 {
	grid-area: n3;
}
.n4 {
	grid-area: n4;
}
.n5 {
	grid-area: n5;
}
.n6 {
	grid-area: n6;
}
.n7 {
	grid-area: n7;
}
.n8 {
	grid-area: n8;
}
.n9 {
	grid-area: n9;
}
.n0 {
	grid-area: n0;
}
.prcnt {
	grid-area: prcnt;
}
.div {
	grid-area: div;
}
.mult {
	grid-area: mult;
}
.minus {
	grid-area: minus;
}
.plus {
	grid-area: plus;
}
.equalSign {
	grid-area: equalSign;
}
.dot {
	grid-area: dot;
}
